<div class="row">
  <div class="container-fluid contenedorconfig">
    <div class="row color_config">
      <div class="col-lg-12" align="center">
        <h1>Usuarios Inactivos</h1>
      </div>
    </div>

    <div class="row centrar">
      <div class="col-md-12">
        <div class="btnrouterlinkconfig" [routerLink]="['/configuraciones/usuarios']">
          <a>
            <span class="pull-left">
              <i class="fa fa-arrow-circle-left"></i>
            </span>
            <span class="pull-right">Usuarios Activos</span>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>
    </div>

    <div class="tablaconfig">
      <div class="centrar buscar-paginacionconfig">
        <div class="buscar-paginacion2">
          <input type="text" class="form-control" name="term" placeholder="Buscar" [(ngModel)]="searchString">
        </div>
        <div class="buscar-paginacion2">
          <select class="form-control" [(ngModel)]="itempage">
            <option value="5" selected="selected">Usuarios Por Página</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>

      <div>
        <div class="loading" *ngIf="loader">
          <i class="fas fa-sync-alt fa-spin fa-3x"></i>
        </div>
        <div class="loadError" *ngIf="LoadError">
          <div class="alert alert-danger">{{error}}</div>
        </div>
        <div *ngIf="LoadTabla && !noHayRegistros">
          <div class="panel-body table-responsive">
            <table width="100%" class="table table-striped table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Nombre Usuario</th>
                  <th>Email</th>
                  <th>Cliente Asignado</th>
                  <th>Rol</th>
                  <th class="center" *ngIf="SidebarComponent.contienePermiso(241)">Activar</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX"
                  *ngFor="let data of DataJson | usuariosinactivos : searchString | paginate: { itemsPerPage: itempage, currentPage: p }">
                  <td>{{data.nombre}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.nombre_cliente}}</td>
                  <td>{{data.nombre_rol}}</td>
                  <td class="center" *ngIf="SidebarComponent.contienePermiso(241)">
                    <a (click)="bindingDataUser(data.id,data.nombre)" uiSrefActive="active" role="button"
                      data-toggle="modal" data-target="#Activar" data-placement="top" title="Activar">
                      <img src="assets/images/active.png" width="30" height="30" class="btnReportes">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="centrarpaginacion">
              <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
            </div>
          </div>
        </div>
        <div *ngIf="LoadTabla && noHayRegistros" class="table-responsive panel-body">
          <table width="100%" class="table table-striped table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Nombre Usuario</th>
                <th>Email</th>
                <th>Cliente Asignado</th>
                <th>Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX">
                <td colspan="4" class="center">No hay Registros</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


  <!--***********************Modal activar*******************************-->

  <div id="Activar" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Confirmación para Activar Usuarios</h4>
        </div>
        <div class="modal-body">
          <p style="color:#FF0000">
            <b> Seguro desea Activar el Usuario con Id: {{idUsuario}} con Nombre: {{nombreUsuario}}</b>
          </p>
        </div>
        <div class="modal-footer">
          <div class="centrar">
            <button (click)="ActivarUsuario(idUsuario,nombreUsuario);" data-dismiss="modal"
              class=" btnbutton">Aceptar</button>
            <button data-dismiss="modal" class="btnbuttoncerrar">Cancelar</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--*********************** Fin Modal Inactivar********************************-->
