<div class="row">
        <div class="container-fluid contenedorconfig">
      
          <div class="row color_config">
            <div class="col-lg-12" align="center">
              <h1>Marcas</h1>
            </div>
          </div>
      
          <div class="row centrar">
            <div class="col-md-12">
              <div class="btnrouterlinkconfig" *ngIf="SidebarComponent.contienePermiso(31)"  uiSrefActive="active" role="button" data-toggle="modal" data-target="#CrearMarca" data-placement="top"
                title="CrearMarca">
                <a>
                  <span class="pull-left">Crear Marca</span>
                  <span class="pull-right">
                    <i class="fa fa-arrow-circle-right"></i>
                  </span>
                  <div class="clearfix"></div>
                </a>
              </div>
              <div class="btnrouterlinkconfig" *ngIf="SidebarComponent.contienePermiso(33)"  [routerLink]="['marcasinactivas']">
                <a>
                  <span class="pull-left">Marcas Inactivas</span>
                  <span class="pull-right">
                    <i class="fa fa-arrow-circle-right"></i>
                  </span>
                  <div class="clearfix"></div>
                </a>
              </div>
            </div>
          </div>
      
          <div class="tablaconfig">
            <div class="centrar buscar-paginacionconfig">
              <div class="buscar-paginacion2">
                <input type="text" class="form-control" name="searchString" placeholder="Buscar" [(ngModel)]="searchString">
              </div>
              <div class="buscar-paginacion2">
                <select class="form-control" name="itempage" [(ngModel)]="itempage">
                  <option value="5" selected="selected">Marcas Por Página</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>
      
            <div>
      
              <div class="loading" *ngIf="loader">
                <i class="fas fa-sync-alt fa-spin fa-3x"></i>
              </div>
      
              <div class="loadError" *ngIf="LoadError">
                <div class="alert alert-danger">{{error}}</div>
              </div>
              <div *ngIf="LoadTabla && !noHayRegistros" class="table-responsive panel-body">
                <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>Nombre Marca</th>
                      <th>Cliente</th>
                      <th class="center" *ngIf="SidebarComponent.contienePermiso(34)">Inactivar</th>
                      <th class="center" *ngIf="SidebarComponent.contienePermiso(32)">Modificar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX" *ngFor="let data of DataJson | marcas : searchString | paginate: { itemsPerPage: itempage, currentPage: p }">
                      <td>{{data.nombre_marca}}</td>
                      <td>{{data.nombre_cliente}}</td>
                      <td class="center" *ngIf="SidebarComponent.contienePermiso(34)" >
                        <a (click)="bindingDataInactivar(data.id,data.nombre_marca)" uiSrefActive="active" role="button" data-toggle="modal" data-target="#Inactivar"
                          data-placement="top" title="Inactivar">
                          <img src="assets/images/close.png" width="30" height="30" class="btnReportes">
                        </a>
                      </td>
                      <td class="center" *ngIf="SidebarComponent.contienePermiso(32)" >
                        <a (click)="bindingDataModificar(data)" uiSrefActive="active" role="button" data-toggle="modal" data-placement="top" data-target="#Modificar"
                          title="Modificar">
                          <img src="assets/images/editar.png" width="30" height="30" class="btnReportes">
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
                <div class="centrarpaginacion">
                  <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event"></pagination-controls>
                </div>
              </div>
      
              <div *ngIf="LoadTabla && noHayRegistros" class="table-responsive panel-body">
                <table width="100%" class="table table-striped table-hover" id="dataTables-example">
                  <thead>
                    <tr>
                      <th>Nombre Marca</th>
                      <th>Cliente</th>
                      <th class="center" *ngIf="SidebarComponent.contienePermiso(34)">Inactivar</th>
                      <th class="center" *ngIf="SidebarComponent.contienePermiso(32)">Modificar</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="odd gradeX">
                      <td colspan="2" class="center">No hay Registros</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--*************************Modal Crear**************************-->
      
      <div id="CrearMarca" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Crear Marca</h4>
            </div>
      
            <div class="modal-body">
              <form #marcasForm="ngForm">
                <div class="form-group">
                  <label for="nombre">Nombre Marca
                    <b class="asterisco">*</b>:</label>
                  <input type="text" class="form-control" name="DataNew.nombre" [(ngModel)]="DataNew.nombre" #nameMar="ngModel" (keypress)="kPLetras($event);"
                    minlength="2" maxlength="30" required [ngClass]="{'is-invalid': !nameMar.valid && (nameMar.dirty || nameMar.touched)}"
                  />
                  <span class="invalid-feedback" *ngIf="nameMar.errors && (nameMar.dirty || nameMar.touched)">
                    <li *ngIf="nameMar.errors.required">
                      El campo nombre es obligatorio
                    </li>
                    <li *ngIf="nameMar.errors.minlength">
                      El campo nombre debe tener mas de 2 caracteres
                    </li>
                    <li *ngIf="nameMar.errors.maxlength">
                      El campo nombre no puede ser mayor a 30 caracteres
                    </li>
                  </span>
                </div>
      
                <!-- <div class="form-group">
                  <label for="rol">Cliente Asignado
                    <b class="asterisco">*</b>:</label>
                  <input name="DataNew.nomCliente" [(ngModel)]="DataNew.nomCliente" class="form-control" (ngModelChange)="ValidarCliente($event)"
                    list="marcas" name="marcas" required>
                  <datalist id="marcas">
                    <option [value]="data.nombre" required *ngFor="let data of DataClientes"></option>
                  </datalist>
                </div> -->
      
                <div class="form-group">
                  <label for="rol">Cliente Asignado
                    <b class="asterisco">*</b>:</label>
                  <select class="form-control" name="DataNew.id_cliente" [(ngModel)]="DataNew.id_cliente" #nomCli="ngModel" required
                    [ngClass]="{'is-invalid': !nomCli.valid && (nomCli.dirty || nomCli.touched)}">
                    <option></option>
                    <option value="{{ data.id }}" *ngFor="let data of DataClientes">{{data.nombre}}</option>
                  </select>
                  <span class="invalid-feedback" *ngIf="nomCli.errors && (nomCli.dirty || nomCli.touched)">
                    <li *ngIf="nomCli.errors.required">
                      El campo Cliente es obligatorio
                    </li>
                  </span>
                </div>
              </form>
            </div>
      
            <div class="modal-footer">
              <div class="centrar">
                <button (click)="onSubmit(DataNew);" [disabled]="!marcasForm.valid" data-dismiss="modal" class=" btnbutton">Aceptar</button>
                <button data-dismiss="modal" class="btnbuttoncerrar" (click)="LimpiarFormularioMarcas()">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--************************* Fin Modal Crear******************************-->
      
      <!--*************************Modal Inactivar***********************************-->
      
      <div id="Inactivar" class="modal fade" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
      
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Confirmación para Inactivar Marca</h4>
            </div>
            <div class="modal-body">
              <p style="color:#FF0000">
                <b> Seguro desea Inactivar la Marca con Id: {{ idInactivar }} con Nombre: {{ nombreInactivar }}</b>
              </p>
            </div>
            <div class="modal-footer">
              <div class="centrar">
                <button (click)="Inactivar(idInactivar, nombreInactivar);" data-dismiss="modal" class="btnbutton">Aceptar</button>
                <button data-dismiss="modal" class="btnbuttoncerrar">Cancelar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!--********************** Fin Modal Inactivar*************************************-->
      
      <!--********************** Inicio Modal Modificar*************************************-->
      
      <div id="Modificar" class="modal fade" role="dialog">
        <div class="modal-dialog">
      
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Modificar Marca</h4>
            </div>
      
            <div class="modal-body">
              <form #marcasEditForm="ngForm">
                <div class="form-group">
                  <label for="nombre">Nombre Marca
                    <b class="asterisco">*</b>:</label>
                  <input type="text" class="form-control" id="nombre" name="DataModificar.nombre_marca" [(ngModel)]="DataModificar.nombre_marca"
                    #nameMarc="ngModel" (keypress)="kPLetras($event);" minlength="2" maxlength="20" required [ngClass]="{'is-invalid': !nameMarc.valid && (nameMarc.dirty || nameMarc.touched)}"
                  />
                  <span class="invalid-feedback" *ngIf="nameMarc.errors && (nameMarc.dirty || nameMarc.touched)">
                    <li *ngIf="nameMarc.errors.required">
                      El campo nombre es obligatorio
                    </li>
                    <li *ngIf="nameMarc.errors.minlength">
                      El campo nombre debe tener mas de 2 caracteres
                    </li>
                    <li *ngIf="nameMarc.errors.maxlength">
                      El campo nombre no puede ser mayor a 20 caracteres
                    </li>
                  </span>
                </div>
      
                <div class="form-group">
                  <label for="rol">Cliente Asignado
                    <b class="asterisco">*</b>:</label>
                  <select class="form-control" name="DataModificar.id_cliente" [(ngModel)]="DataModificar.id_cliente" #nomClie="ngModel" required
                    [ngClass]="{'is-invalid': !nomClie.valid && (nomClie.dirty || nomClie.touched)}">
                    <option></option>
                    <option value="{{ data.id }}" *ngFor="let data of DataClientes">{{data.nombre}}</option>
                  </select>
                  <span class="invalid-feedback" *ngIf="nomClie.errors && (nomClie.dirty || nomClie.touched)">
                    <li *ngIf="nomClie.errors.required">
                      El campo Clietne es obligatorio
                    </li>
                  </span>
                </div>
              </form>
            </div>
      
            <div class="modal-footer">
              <div class="centrar">
                <button (click)="onSubmitModificar(DataModificar);" [disabled]="!marcasEditForm.valid" data-dismiss="modal" class=" btnbutton">Aceptar</button>
                <button data-dismiss="modal" class="btnbuttoncerrar">Cancelar</button>
              </div>
            </div>
      
          </div>
        </div>
      </div>
      <!--************************** Fin Modal Modificar**********************************-->
      