<div class="row">
  <div class="container-fluid contenedorconfig">

    <div class="row color_config">
      <div class="col-lg-12" align="center">
        <h1>Roles</h1>
      </div>
    </div>

    <div class="row centrar">
      <div class="col-md-12">
        <div class="btnrouterlinkconfig" *ngIf="SidebarComponent.contienePermiso(26)" uiSrefActive="active" role="button" data-toggle="modal" data-placement="top" data-target="#CrearRol"
          title="CrearRol">
          <a>
            <span class="pull-left">Crear Rol</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </a>
        </div>
        <div class="btnrouterlinkconfig" *ngIf="SidebarComponent.contienePermiso(28)" [routerLink]="['rolesinactivos']">
          <a>
            <span class="pull-left">Roles Inactivos</span>
            <span class="pull-right">
              <i class="fa fa-arrow-circle-right"></i>
            </span>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>

    </div>

    <div class="tablaconfig">
      <div class="centrar buscar-paginacionconfig">
        <div class="buscar-paginacion2">
          <input type="text" class="form-control" name="searchString" placeholder="Buscar" [(ngModel)]="searchString">
        </div>
        <div class="buscar-paginacion2">
          <select class="form-control" name="itempage" [(ngModel)]="itempage">
            <option value="5" selected="selected">Roles Por Página</option>
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="40">40</option>
            <option value="50">50</option>
          </select>
        </div>
      </div>

      <div>

        <div class="loading" *ngIf="loader">
          <i class="fas fa-sync-alt fa-spin fa-3x"></i>
        </div>

        <div class="loadError" *ngIf="LoadError">
          <div class="alert alert-danger">{{error}}</div>
        </div>
        <div *ngIf="LoadTabla && !noHayRegistros">
          <div class="panel-body table-responsive">
            <table width="100%" class="table table-striped table-hover" id="dataTables-example">
              <thead>
                <tr>
                  <th>Nombre Rol</th>
                  <th class="center" *ngIf="SidebarComponent.contienePermiso(29)">Inactivar</th>
                  <th class="center" *ngIf="SidebarComponent.contienePermiso(27)">Modificar</th>
                  <th class="center" *ngIf="SidebarComponent.contienePermiso(240)">Permisos</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" *ngFor="let data of DataJson | roles : searchString | paginate: { itemsPerPage: itempage, currentPage: p , id: 'roles'}">
                  <td>{{data.nombre}}</td>
                  <td class="center" *ngIf="SidebarComponent.contienePermiso(29)">
                    <a (click)="bindingDataRol(data.id,data.nombre)" uiSrefActive="active" role="button" data-toggle="modal" data-target="#Inactivar"
                      data-placement="top" title="Inactivar">
                      <img src="assets/images/close.png" width="30" height="30" class="btnReportes">
                    </a>
                  </td>
                  <td class="center" *ngIf="SidebarComponent.contienePermiso(27)">
                    <a (click)="bindingDataRolModificar(data)" uiSrefActive="active" role="button" data-toggle="modal" data-placement="top" data-target="#Modificar"
                      title="Modificar">
                      <img src="assets/images/editar.png" width="30" height="30" class="btnReportes">
                    </a>
                  </td>
                  <td class="center" *ngIf="SidebarComponent.contienePermiso(240)">
                    <a [routerLink]="['asignarpermisosrol', data.id, data.nombre]" uiSrefActive="active" role="button" data-placement="top"
                      title="Asignar permisos">
                      <img src="assets/images/user-settings.png" width="30" height="30" class="btnReportes">
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="centrarpaginacion">
              <pagination-controls previousLabel="Anterior" nextLabel="Siguiente" (pageChange)="p = $event" id="roles"></pagination-controls>
            </div>
          </div>

        </div>
        <div *ngIf="LoadTabla && noHayRegistros" class="table-responsive panel-body">
          <table width="100%" class="table table-striped table-hover" id="dataTables-example">
            <thead>
              <tr>
                <th>Nombre Rol</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX">
                <td colspan="1" class="center">No hay Registros</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!--*************************Modal Crear**************************-->


<div id="CrearRol" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Rol</h4>
      </div>

      <div class="modal-body">
        <form #rolesForm="ngForm">

          <div class="form-group">
            <label for="nombre">Nombre Rol
              <b class="asterisco">*</b>:</label>
            <input type="text" class="form-control" id="nombre" name="DataNewRol.nombre" [(ngModel)]="DataNewRol.nombre" #nameRoles="ngModel"
              (keypress)="kPLetras($event);" minlength="5" maxlength="80" required [ngClass]="{'is-invalid': !nameRoles.valid && (nameRoles.dirty || nameRoles.touched)}"
            />
            <span class="invalid-feedback" *ngIf="nameRoles.errors && (nameRoles.dirty || nameRoles.touched)">
              <li *ngIf="nameRoles.errors.required">
                El campo nombre Rol es obligatorio
              </li>
              <li *ngIf="nameRoles.errors.minlength">
                El campo nombre Rol debe tener mas de 5 caracteres
              </li>
              <li *ngIf="nameRoles.errors.maxlength">
                El campo nombre Rol no puede ser mayor a 20 caracteres
              </li>
            </span>
          </div>

        </form>
        <!-- <div class="tablaconfig">
            <div class="centrar buscar-paginacionconfig">
              <div class="buscar-paginacion2">
                <input type="text" class="form-control" name="searchStringPermisos" placeholder="Buscar" [(ngModel)]="searchStringPermisos">
              </div>
              <div class="buscar-paginacion2">
                <select class="form-control" name="itempagePermisos" [(ngModel)]="itempagePermisos">
                  <option value="5" selected="selected">Permisos Por Página</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>

            <table width="100%" class="table table-striped table-hover" id="permisos">
              <thead>
                <tr>
                  <th>Permiso</th>
                  <th class="center">Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" *ngFor="let data of DataPermisos | permisos: searchStringPermisos | paginate: { itemsPerPage: itempagePermisos, currentPage: per ,id: 'checkPermiso'}">
                  <td>{{data.nombre}}</td>
                  <td class="center">
                    <input type="checkbox" [checked]="data.checked" (change)="onChange(data.id, $event.target.checked)">
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="centrarpaginacion">
              <pagination-controls (pageChange)="per = $event" id="checkPermiso"></pagination-controls>
            </div>
          </div> -->
      </div>
      <div class="modal-footer">
        <div class="centrar">
          <button (click)="onSubmit(DataNewRol);" [disabled]="!rolesForm.valid" data-dismiss="modal" class=" btnbutton">Aceptar</button>
          <button data-dismiss="modal" class="btnbuttoncerrar" (click)="LimpiarFormRoles()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div id="CrearRol" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Crear Rol</h4>
      </div>

      <div class="modal-body">
        <form #rolesForm="ngForm">

          <div class="form-group" [ngClass]="{'has-error': !nameRoles.valid && (nameRoles.dirty || nameRoles.touched)}">
            <label for="nombre">Nombre Rol
              <b class="asterisco">*</b>:</label>
            <input type="text" class="form-control" id="nombre" name="DataNewRol.nombre" [(ngModel)]="DataNewRol.nombre" #nameRoles="ngModel"
              (keypress)="kPLetras($event);" minlength="5" maxlength="80" required/>
            <span class="help-block" *ngIf="nameRoles.errors && (nameRoles.dirty || nameRoles.touched)">
              <li *ngIf="nameRoles.errors.required">
                El campo nombre Rol es obligatorio
              </li>
              <li *ngIf="nameRoles.errors.minlength">
                El campo nombre Rol debe tener mas de 5 caracteres
              </li>
              <li *ngIf="nameRoles.errors.maxlength">
                El campo nombre Rol no puede ser mayor a 20 caracteres
              </li>
            </span>
          </div>

        </form>
        <div class="tablaconfig">
          <div class="centrar buscar-paginacionconfig">
            <div class="buscar-paginacion2">
              <input type="text" class="form-control" name="searchStringPermisos" placeholder="Buscar" [(ngModel)]="searchStringPermisos">
            </div>
            <div class="buscar-paginacion2">
              <select class="form-control" name="itempagePermisos" [(ngModel)]="itempagePermisos">
                <option value="5" selected="selected">Permisos Por Página</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="20">20</option>
                <option value="40">40</option>
                <option value="50">50</option>
              </select>
            </div>
          </div>

          <table width="100%" class="table table-striped table-hover" id="permisos">
            <thead>
              <tr>
                <th>Permiso</th>
                <th class="center">Seleccionar</th>
              </tr>
            </thead>
            <tbody>
              <tr class="odd gradeX" *ngFor="let data of DataPermisos | permisos: searchStringPermisos | paginate: { itemsPerPage: itempagePermisos, currentPage: per ,id: 'checkPermiso'}">
                <td>{{data.nombre}}</td>
                <td class="center">
                  <input type="checkbox" [checked]="data.checked" (change)="onChange(data.id, $event.target.checked)">
                </td>
              </tr>
            </tbody>
          </table>
          <div class="centrarpaginacion">
            <pagination-controls (pageChange)="per = $event" id="checkPermiso"></pagination-controls>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="centrar">
          <button (click)="onSubmit(DataNewRol);" [disabled]="!rolesForm.valid || DataJsonPermisos.length === 0" data-dismiss="modal"
            class=" btnbutton">Aceptar</button>
          <button data-dismiss="modal" class="btnbuttoncerrar" (click)="LimpiarFormRoles()">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
 -->
<!--************************* Fin Modal Crear******************************-->

<!--*************************Modal Inactivar***********************************-->

<div id="Inactivar" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirmación para Inactivar Rol</h4>
      </div>
      <div class="modal-body">
        <p style="color:#FF0000">
          <b> Seguro desea Inactivar el Rol con Id: {{idRol}} con Nombre: {{nombreRol}}</b>
        </p>
      </div>
      <div class="modal-footer">
        <div class="centrar">
          <button (click)="InactivarRol(idRol, nombreRol);" data-dismiss="modal" class="btnbutton">Aceptar</button>
          <button data-dismiss="modal" class="btnbuttoncerrar">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
</div>

<!--********************** Fin Modal Inactivar*************************************-->

<!--********************** Inicio Modal Modificar*************************************-->

<div id="Modificar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modificar Rol</h4>
      </div>

      <div class="modal-body">
        <form #editRolesForm="ngForm">

          <div class="form-group">
            <label for="nombre">Nombre Rol
              <b class="asterisco">*</b>:</label>
            <input type="text" class="form-control" id="nombre" name="DataRol.nombrerol" [(ngModel)]="DataRol.nombrerol" #nameRol="ngModel"
              (keypress)="kPLetras($event);" minlength="5" maxlength="80" required [ngClass]="{'is-invalid': !nameRol.valid && (nameRol.dirty || nameRol.touched)}"
            />
            <span class="invalid-feedback" *ngIf="nameRol.errors && (nameRol.dirty || nameRol.touched)">
              <li *ngIf="nameRol.errors.required">
                El campo nombre de Rol es obligatorio
              </li>
              <li *ngIf="nameRol.errors.minlength">
                El campo nombre de Rol debe tener mas de 5 caracteres
              </li>
              <li *ngIf="nameRol.errors.maxlength">
                El campo nombre de Rol no puede ser mayor a 20 caracteres
              </li>
            </span>
          </div>

          <!-- <div class="tablaconfig">
              <div class="centrar buscar-paginacionconfig">
                <div class="buscar-paginacion2">
                  <input type="text" class="form-control" name="searchStringEditPermisos" placeholder="Buscar" [(ngModel)]="searchStringEditPermisos">
                </div>
                <div class="buscar-paginacion2">
                  <select class="form-control" name="itempageEditPermisos" [(ngModel)]="itempageEditPermisos">
                    <option value="5" selected="selected">Permisos Por Página</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="40">40</option>
                    <option value="50">50</option>
                  </select>
                </div>
              </div>

              <table width="100%" class="table table-striped table-hover" id="permisos">
                <thead>
                  <tr>
                    <th>Permiso</th>
                    <th class="center">Seleccionar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="odd gradeX" *ngFor="let data of DataPermisosRol | permisos: searchStringEditPermisos | paginate: { itemsPerPage: itempageEditPermisos, currentPage: y ,id: 'checkPermisoMod'}">
                    <td>{{data.nombre}}</td>
                    <td class="center">
                      <input type="checkbox" [checked]="data.checked" (change)="onChangeEdit(data.id, $event.target.checked)">
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="centrarpaginacion">
                <pagination-controls (pageChange)="y = $event" id="checkPermisoMod"></pagination-controls>
              </div>
            </div> -->
        </form>
      </div>

      <div class="modal-footer">
        <div class="centrar">
          <button (click)="onSubmitModificar(DataRol);" [disabled]="!editRolesForm.valid" data-dismiss="modal" class=" btnbutton">Aceptar</button>
          <button data-dismiss="modal" class="btnbuttoncerrar">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
</div>
<!--
<div id="Modificar" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modificar Rol</h4>
      </div>

      <div class="modal-body">
        <form #editRolesForm="ngForm">

          <div class="form-group" [ngClass]="{'has-error': !nameRol.valid && (nameRol.dirty || nameRol.touched)}">
            <label for="nombre">Nombre Rol
              <b class="asterisco">*</b>:</label>
            <input type="text" class="form-control" id="nombre" name="DataRol.nombre" [(ngModel)]="DataRol.nombre" #nameRol="ngModel"
              (keypress)="kPLetras($event);" minlength="5" maxlength="80" required/>
            <span class="help-block" *ngIf="nameRol.errors && (nameRol.dirty || nameRol.touched)">
              <li *ngIf="nameRol.errors.required">
                El campo nombre de Rol es obligatorio
              </li>
              <li *ngIf="nameRol.errors.minlength">
                El campo nombre de Rol debe tener mas de 5 caracteres
              </li>
              <li *ngIf="nameRol.errors.maxlength">
                El campo nombre de Rol no puede ser mayor a 20 caracteres
              </li>
            </span>
          </div>

          <div class="tablaconfig">
            <div class="centrar buscar-paginacionconfig">
              <div class="buscar-paginacion2">
                <input type="text" class="form-control" name="searchStringEditPermisos" placeholder="Buscar" [(ngModel)]="searchStringEditPermisos">
              </div>
              <div class="buscar-paginacion2">
                <select class="form-control" name="itempageEditPermisos" [(ngModel)]="itempageEditPermisos">
                  <option value="5" selected="selected">Permisos Por Página</option>
                  <option value="5">5</option>
                  <option value="10">10</option>
                  <option value="20">20</option>
                  <option value="40">40</option>
                  <option value="50">50</option>
                </select>
              </div>
            </div>

            <table width="100%" class="table table-striped table-hover" id="permisos">
              <thead>
                <tr>
                  <th>Permiso</th>
                  <th class="center">Seleccionar</th>
                </tr>
              </thead>
              <tbody>
                <tr class="odd gradeX" *ngFor="let data of DataPermisosRol | permisos: searchStringEditPermisos | paginate: { itemsPerPage: itempageEditPermisos, currentPage: y ,id: 'checkPermisoMod'}">
                  <td>{{data.nombre}}</td>
                  <td class="center">
                    <input type="checkbox" [checked]="data.checked" (change)="onChangeEdit(data.id, $event.target.checked)">
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="centrarpaginacion">
              <pagination-controls (pageChange)="y = $event" id="checkPermisoMod"></pagination-controls>
            </div>
          </div>
        </form>
      </div>

      <div class="modal-footer">
        <div class="centrar">
          <button (click)="onSubmitModificar(DataRol);" [disabled]="!editRolesForm.valid" data-dismiss="modal" class=" btnbutton">Aceptar</button>
          <button data-dismiss="modal" class="btnbuttoncerrar" (click)="LoadRoles()">Cancelar</button>
        </div>
      </div>

    </div>
  </div>
</div> -->

<!--************************** Fin Modal Modificar**********************************-->
